//path
// -----------------------------------------------------------------------------
$bg-path: '../images/' !default;

// =============================================================================
// Component:		  Variables
//
// Description:		Define all variables
//
// =============================================================================

$ns: unquote('dz-') !default;

// Black - White - Gray
// -----------------------------------------------------------------------------
$default-color: #5594fd;
