<!DOCTYPE html>
<html>
    <head lang="zh-cn">
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <%= htmlWebpackPlugin.options.url %>
        <script>
            !(function(a, b) {
                function c() {
                    var b = f.getBoundingClientRect().width;
                    b / i > 540 && (b = 540 * i);
                    var c = b / 10;
                    (f.style.fontSize = c + 'px'), (k.rem = a.rem = c);
                }

                var d,
                    e = a.document,
                    f = e.documentElement,
                    g = e.querySelector('meta[name="viewport"]'),
                    h = e.querySelector('meta[name="flexible"]'),
                    i = 0,
                    j = 0,
                    k = b.flexible || (b.flexible = {});
                if (g) {
                    console.warn('将根据已有的meta标签来设置缩放比例');
                    var l = g.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
                    l && ((j = parseFloat(l[1])), (i = parseInt(1 / j)));
                } else if (h) {
                    var m = h.getAttribute('content');
                    if (m) {
                        var n = m.match(/initial\-dpr=([\d\.]+)/),
                            o = m.match(/maximum\-dpr=([\d\.]+)/);
                        n && ((i = parseFloat(n[1])), (j = parseFloat((1 / i).toFixed(2)))),
                            o && ((i = parseFloat(o[1])), (j = parseFloat((1 / i).toFixed(2))));
                    }
                }
                if (!i && !j) {
                    var p = (a.navigator.appVersion.match(/android/gi), a.navigator.appVersion.match(/iphone/gi)),
                        q = a.devicePixelRatio;
                    (i = p ? (q >= 3 && (!i || i >= 3) ? 3 : q >= 2 && (!i || i >= 2) ? 2 : 1) : 1), (j = 1 / i);
                }
                if ((f.setAttribute('data-dpr', i), !g))
                    if (
                        ((g = e.createElement('meta')),
                        g.setAttribute('name', 'viewport'),
                        g.setAttribute(
                            'content',
                            'initial-scale=' +
                                j +
                                ', maximum-scale=' +
                                j +
                                ', minimum-scale=' +
                                j +
                                ', user-scalable=no'
                        ),
                        f.firstElementChild)
                    )
                        f.firstElementChild.appendChild(g);
                    else {
                        var r = e.createElement('div');
                        r.appendChild(g), e.write(r.innerHTML);
                    }
                a.addEventListener(
                    'resize',
                    function() {
                        clearTimeout(d), (d = setTimeout(c, 300));
                    },
                    !1
                ),
                    a.addEventListener(
                        'pageshow',
                        function(a) {
                            a.persisted && (clearTimeout(d), (d = setTimeout(c, 300)));
                        },
                        !1
                    ),
                    'complete' === e.readyState
                        ? (e.body.style.fontSize = 12 * i + 'px')
                        : e.addEventListener(
                              'DOMContentLoaded',
                              function() {
                                  e.body.style.fontSize = 12 * i + 'px';
                              },
                              !1
                          ),
                    c(),
                    (k.dpr = a.dpr = i),
                    (k.refreshRem = c),
                    (k.rem2px = function(a) {
                        var b = parseFloat(a) * this.rem;
                        return 'string' == typeof a && a.match(/rem$/) && (b += 'px'), b;
                    }),
                    (k.px2rem = function(a) {
                        var b = parseFloat(a) / this.rem;
                        return 'string' == typeof a && a.match(/px$/) && (b += 'rem'), b;
                    });
            })(window, window.lib || (window.lib = {}));
        </script>
    </head>

    <body>
        <div class="spinner-wrap" id="spinner-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div id="app"></div>
    </body>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script>
        document.body.addEventListener('touchstart', function() {});

        // 微信分享
        var sign_package = {$sign_package};
        console.log(sign_package.data);
        if (sign_package.code === 0) {
            wx.config({
                debug: false,
                appId: sign_package.data.appId,
                timestamp: sign_package.data.timestamp,
                nonceStr: sign_package.data.nonceStr,
                signature: sign_package.data.signature,

                jsApiList: ['onMenuShareAppMessage', 'onMenuShareTimeline']
            });
            var GlobalUrl = 'http://dianjing.a0d11.com/';
            wx.ready(function() {
                wx.onMenuShareAppMessage({
                    title: '魔王电竞酒店·星级酒店服务·专业电竞设备', // 分享标题
                    desc: '国内首家电竞酒店+网咖一体化电竞体验中心', // 分享描述
                    link: sign_package.data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: GlobalUrl + 'uploads/20190103/logo400.png', // 分享图标
                    type: 'link', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function() {
                        // 用户点击了分享后执行的回调函数
                    }
                });
                wx.onMenuShareTimeline({
                    title: '魔王电竞酒店·星级酒店服务·专业电竞设备', // 分享标题
                    link: sign_package.data.url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: GlobalUrl + 'uploads/20190103/logo400.png', // 分享图标
                    success: function() {
                        // 用户点击了分享后执行的回调函数
                    }
                });
                // 微信分享新接口,但调用无作用,使用老方法效果正常
                //            wx.updateAppMessageShareData({
                //                title: '魔王电竞酒店·星级酒店服务·专业电竞设备', // 分享标题
                //                desc: '国内首家电竞酒店+网咖一体化电竞体验中心', // 分享描述
                //                link: 'http://member.devilking.com', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                //                imgUrl: 'http://member.devilking.com/uploads/20190103/logo400.png', // 分享图标
                //                success: function () {
                //                    // 设置成功
                //                }
                //            });
                //            wx.updateTimelineShareData({
                //                title: '魔王电竞酒店·星级酒店服务·专业电竞设备', // 分享标题
                //                link: 'http://member.devilking.com', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                //                imgUrl: 'http://member.devilking.com/uploads/20190103/logo400.png', // 分享图标
                //                success: function () {
                //                    // 设置成功
                //                }
                //            });
            });
        }
    </script>
</html>
